<div>
  <script lang="ts">

    const fetchUser = () => {
    fetch("/get-user").then(res => res.json()).then(res => {
    console.log(res);
    })
    };
    fetchUser();

     const fetchChart = () => {
    fetch("/get-chart-data").then(res => res.json()).then(res => {
    var chart = new ApexCharts(document.querySelector("#chart"), res);
      chart.render();
    })
    };
    fetchChart();
  </script>
  {{message}}
  <button><a href='/logout'>Logout</a></button>
  <div id="chart"></div>
</body>