<div>
   <script type='text/javascript'>

 $(document).ready(()=> { 
  const fetchUser = () => {
    fetch("/get-user").then(res => res.json()).then(res => {
    console.log(res);
    })
    };
    fetchUser();

     const fetchChart1 = () => {
    fetch("/get-chart-data").then(res => res.json()).then(res => {
    const chart = new ApexCharts(document.querySelector("#chart1"), res);
      chart.render();
    })
    };
    fetchChart1();

      const fetchChart2 = () => {
    fetch("/get-chart-data").then(res => res.json()).then(res => {
    const chart = new ApexCharts(document.querySelector("#chart2"), res);
      chart.render();
    })
    };
    fetchChart2();
  });
  </script>
  {{message}}
  <button><a href='/logout'>Logout</a></button>
  <div id="chart1"></div>
  <div id="chart2"></div>
</body>